body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}
.list{ list-style: none; 
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{ margin: 0; }

p{ margin: 0;}

a, button {cursor: pointer;}

ul{
    padding-left: 0;
    margin: 0;
}

address{
    font-style: normal;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.link{ text-decoration: none;

}
:root {
    --color-slate: #8E8F99;
    --brand-color: #3f51b5;
    --color-ocean: #404BBF;
}

.contejner{
width: 420px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;


}

/* -----------heder----------- */
.top-header{
    border: 1px solid  #E7E9FC;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-cobntejner{
    display: flex;
    align-items: center;
    height: 70px;
}
.navigation{
    display: flex;
    margin-right: auto;
}
@media screen and (max-width: 767px){
.navigation{
    display: none;
}
    
}
.logo{ 
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}
.logo-color{
color:#2e2f42
}


.header-list{
display: flex;

}


.header-link{
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;

}
.header-link-color {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;

}

.header-link:is(:hover, :focus){ color:#404BBF;

}

.curent{
    position: relative;
}

.curent::after {
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 2px;
    background-color: #404BBF;
}

.header-item{
    margin-right: 40px;
}
.header-item:last-child{
    margin-right: 0;
}

.header-address{
padding: 20px 0;
}
@media screen and (min-width: 768px){
    .header-address{
        padding: 0;
    }
}
.header-address-list{

    display: none;
}

.mail-list{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;;
    color: #434455;
    gap: 40px;
}
@media screen and (min-width: 768px) and (max-width:1158px){
    
}


/* -----------section1----------- */
.hero{
    background: #2E2F42;
    background-image:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 112px 0;
}
@media screen and (max-width: 427px) 
{
    .hero{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url(../images/section-hero/Dark-bg-mob-1x.jpg);
    }
@media 
(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) 
{
    .hero{
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/section-hero/Dark-bg-mob-2x.jpg);
    }
}
}


@media screen and (min-width:428px) and (max-width:767px){
    .hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/section-hero/Dark-bg-tab-1x.jpg);
    }
@media(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .hero {
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/section-hero/Dark-bg-tab-2x.jpg);
    }
}
}


@media screen and (min-width:768px) {
    .hero {
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url(../images/section-hero/Dark-bg-desk-1x.jpg);
    }


@media(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/section-hero/Dark-bg-desk-2x..jpg);
    }
}
}

.hero-text{
    max-width: 360px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: auto;
    margin-bottom: 72px;
}

@media screen and (max-width: 349px) {
    .hero-text {
            max-width: 360px;
            font-weight: 700;
            font-size: 30px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
            margin: auto;
            margin-bottom: 72px;
        }
}


.hero-btn{
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    margin: auto;
    border-radius: 4px;
    border: none;
}

    .hero-btn:is(:hover, :focus) {
    background-color: #404BBF;
    cursor: pointer;
    border: none;}
    



/* ---------------------------------section2------------------------ */
.setion-produkt-procesing{
    padding: 96px 0;

}

.products-procesing{
display: flex;
flex-wrap: wrap;


align-items: center;
justify-content: center;
}
.products-procesing-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
@media screen and (min-width: 320px) and (max-width:767px){
    .products-procesing-title{
        justify-content: center;
    }
}
.products-procesing-text:nth-child(4){
    margin-bottom: 0;
    
}

.produkt-icon{
margin-bottom: 8px;
width: 0;
height: 0;
}

.list-produkt{
margin-right: 24px;
margin-bottom: 72px;

}

.produkt-icon-link{
    width: 262px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        display: none ;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
}


.products-procesing-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.products-procesing-text-last{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -----------section3----------- */
.projekt {
            width: 1px;
            height: 1px;
            border: 0;
            padding: 0;
            overflow: hidden;
}
.projekt-title{

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin:0 auto 72px;
}
.projekt-contejner{
    display: flex;
    flex-wrap: wrap;

}

.projekt-list{
    display: flex;
    gap: 24px ;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.projekt-foto{
display: block;
    width: 100%;
    height: auto;
}

/* -----------section4----------- */
.team-sektion{
    width: 100%;
    background-color: #F4F4FD;
    padding: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}


.team-item .team-list-foto{
    /* flex-basis: 100%; */
    width: 264px;
    /* gap: 24px; */
}
@media screen and (min-width: 420px){
    .team-item .team-list-foto {
            flex-basis: 100%;}
}
.team-list-foto{
background-color: #FFFFFF;
margin: auto;
flex-wrap: wrap;
}


.text-contejner{
    padding: 32px 0;
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-soc-link:is(:hover, :focus){
    background-color: #404BBF;
}

.team-icon{
    fill: #F4F4FD;
}
/* ------------------sektion 5------------------- */
.customers {
    padding: 96px   0;
    /* margin-bottom: 96px; */
}

.customers-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px 24px;
}
.customers-link:is(:hover, :focus){
border-color: #404BBF;
    transition: transform 250ms linear;
}
.customers-item{
    width: 168px;
    height: 88px;

}

.customers-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: var(--color-slate)
}
.custom-icon{
    fill: var(--color-slate);
}
.customers-link:hover > .custom-icon{
    fill: var(--color-ocean)
}



/* -----------footer----------- */
.bottom-sektion{
    width: 100%;
padding: 96px 0;
    background-color: #2e2f42;

}
/* @media screen and (min-width: 768px) and (max-width:1157){
        .footer-text {
                margin-right: 24px;
            }
        
            .footer-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        
            .sub-input {
                margin-right: 24px;
                width: 264px;
            }
        
            .sub-input-sektion {
                display: flex;
        
            }
        
            .logo-footer {
                justify-content: flex-start;
            }
        
            .social-text {
                justify-content: flex-start;
            }
        
            .sub-text {
                justify-content: flex-start;
            } 
            .sub-input-sektion{
                flex-wrap: wrap;
                justify-content: center;
            }
} */
.logo-footer{
margin-bottom: 8px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 268px;
    ;
}
.soc-contejner{
    align-items: center;
    justify-content: center;
    margin-bottom: 72px
}
.soc-contejner-logo{
    align-items: center;
    justify-content: center;
    margin-bottom: 72px
}

.logo-color-footer{
    color: #f4f4fd;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}
.footer-text-contejner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    /* width: 208px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.footer-soc-item :is(:hover, :focus) {
    background: #31D0AA;
    transition: transform 250ms linear;

}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
}

    



.sub-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-btn {
    width: 165px;
    height: 40px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
margin: auto;
}

.sub-icons {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
}

.btn-contejner {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #E7E9FC;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E7E9FC;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #E7E9FC;
}

.subscribe-titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;

}

.sub-input {
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    background-color: transparent;
    color: #FFFFFF;
    padding: 10px;
    }

.footer-icon {
    fill: #FFFFFF ;
}
/* ------------------ sektione1(portfolio) ------------- */
.main-sektion{
    padding-top: 96px;
    padding-bottom: 120px ;
}


.portrtfolio-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 72px ;
    justify-content: center;
    gap: 24px;

}
img{display: block;
max-width: 100%;
height: auto;}


.filters-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color:#F4F4FD transparent;
    cursor: pointer;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    display: flex;
    border: 1px solid #E7E9FC;
    flex-direction: row;
    align-items: center;
    height: 48px;
    background: #F4F4FD;
}

    .filters-btn:is(:hover, :focus) {
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.btn-contejner{
    border: bottom, left, right,#E7E9FC  1px; 
    padding: 32px;
}
/* ------------------ sektione2 (portfolio) ------------- */

.btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
}

.contejner-porfolio-wrap {
    position: relative;
    overflow: hidden;
}

.img-btn {
    display: block;
    ;
}

.lisr-item-btn:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.lisr-item-btn:hover .portfolio-cover-text {
    transform: translate(0);
}

.portfolio-cover-text {
    position: absolute;
    padding: 40px;
    top: 0;
    background-color: #4D5AE5;
    color: #ffffff;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    overflow: auto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.sektion-btn-name-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.sektion-btn-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/* -----------------------------MODAL---------------------------- */

.backdrop{
    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.modal{
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms ease-in-out;
    padding-top: 72px;
    padding-right:  20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}

@media screen and (min-width:420px) {
    .modal{
        width: 408px;
    }
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn{
    position: absolute;
    right: 24px;
    border-radius: 50px;
    border-color: transparent;
    background: transparent;
    transform: translateY(-130%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center
}
.modal-btn:hover{
    background-color: #404BBF;
}
.modal-btn:hover .btn-close-icons{
    fill: #FFFFFF;
}

.btn-close-icons
    {width: 8px;
    height: 8px;
    fill: #2E2F42;
}


.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}
.modal-titel{ 
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 24px;
    margin-bottom: 16px;
}

@media screen and (min-width: 320px) and (max-width:420px) {
    .modal-titel {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-top: 24px ;
            margin-bottom: 16px;
}
}

.input-wrap{
    position: relative;
}
.modal-form .modal-input:focus + .modal-icons {
    fill: #3f51b5;
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
}

.modal-input:focus{
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icons {
    fill: #4D5AE5;
}

.modal-icons{
    width: 18px;
    height: 24px;
    left: 16px;
    position:relative ;
    transform: translateY(-130%);
    justify-content: center;
    align-items: center;
    display: flex;
    fill: #2E2F42;
}

.modal-icons:focus{
    fill: var(--color-ocean);
}
.input-contejner{
    margin: 0 0 8px 0;
height: 58px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #8E8F99;
}

.modal-label::placeholder{
    font-size: 12px;
    color:rgba(46, 47, 66, 0.4);
}

.modal-label span{
    display: block;
    margin-bottom: 4px;
}

.send-btn{
    display: flex;
    width: 169px;
    height: 56px;
    align-items: center;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    border: none;
    margin: 0 auto;
    letter-spacing: 0.04em;
    justify-content: center;
}
.modal-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 16px;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    resize: none;
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: flex;
    align-items: center;
    margin: 16px 0 24px 0;
}
@media screen and (min-width: 320px) and (max-width:420px) {
    .check-text{
font-weight: 400;
    font-size: 8px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    }
}

.check-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
}

.input-check:checked+.check-text::before {
    background-color: #4D5AE5;
    border: none;
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.visuallv-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset (100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
@media screen and (max-width: 420px) {
    .contejner{
        width: 319px;
    }
    
}
@media screen and (min-width:320px) and (max-width:767px){ 
    .products-procesing {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 72px;}

.list-produkt{
    margin: 0 ;

}

.team-item{
display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
}


.logo{
    margin: 0;
}
}



@media screen and (min-width:768px){
    .contejner {
    width: 768px;
    }
    /* header */
        .header-address-list {
            gap: 40px;
            display: block;
        }
        .header-address-item{
            margin-bottom: 12px;
        }
    /* section */
    .hero-text{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
    }
     /* section 2 */
    .products-procesing-text { 
        width: 340px;
        margin: auto;
    }
    .products-procesing{
        gap: 72px 24px;
    }
    .list-produkt{
        margin: 0;
    }
    /* section 4 */
    
    .team-item {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    .team-item{
        width: 552px;
        margin: 0 auto;
    }

    .team-list-foto{
        width: 264px;
        height: auto;
    }

    .team-item .team-list-foto{
        flex-basis: calc((100% - 48px) /2);
    }
    /* section 5 */
    .customers {display: flex;
        width: 768px;
        margin: auto;
        padding-bottom: 96px;
    }
    /* footer */
    .footer-item{
        width: 552px;
    }
        .bottom-sektion {
            padding: 96px 0 96px ;
        }
    .soc-contejner-logo {
        width: 264px;
    }
    .sub-text{
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .sub-input {
        width: 264px;
        margin-right: 24px;
        margin-bottom: 0;
    }
    .sub-input-sektion {
        display: flex;
        justify-content: flex-start;
    }
    .footer-soc-list {
        display: flex;
        justify-content: flex-start;
    }
    .social-text {
        justify-content: flex-start;}
    .logo-footer{
        justify-content: flex-start;
    }
    .footer-text-contejner {
        display: flex;
        justify-content: flex-start;
        align-items: center;}
    .sub-btn{
        margin: 0;
    }
    .sub-text{width: 75px;
        justify-content: flex-start;
    }
    .footer-tablet{
        display:flex;
        gap: 24px;
        margin-right: 0;
    }
}

@media screen and (min-width:1158px){
.contejner{
        width: 1158px;
        margin: auto;
        padding: 0 15px;
    }
    /* header */
    .header-address-list{
        display: flex;
        
    }
    .header-cobntejner {
        display: flex;
        width: 1128px;
    }
        .header-address-item {
            margin-bottom: 0;
        }
    /* section 1 */
    .hero{
        width: 1440px;
        padding: 188px 0;
        margin: auto;
    }
    
    /* section 2 */
    .setion-produkt-procesing {
        padding: 120px 0;
    }
    .produkt-icon {
        width: 64px;
        height: 64px;
        }
    .produkt-icon-link {
        width: 262px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
    .products-procesing {
        flex-wrap: nowrap;
    }
    .products-procesing-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
    }
    .products-procesing-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        width: 264px;
    }
    /* section 3 */
    .projekt {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        justify-content: center;
        align-items: center;
        padding-bottom: 120px;
    }
    /* section 4 */
    .team-item .team-list-foto {
        flex-basis: calc((100% - 90px) / 4);
        /* flex-wrap: nowrap; */
        margin-bottom: 0;
    }
        .team-item {
            width: 100%;}
    /* section 5 */
    .customers{
    width: 1158px;
        padding: 120px 0;
        margin: auto;
    }

    /* footer */
.soc-contejner {
    margin-right: 80px;
    margin-bottom: 0;
}

.bottom-sektion {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-item {
    display: flex;
}

.logo-footer {
    margin-bottom: 8px;
}

.social-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.logo-color-footer {
    color: #f4f4fd;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
justify-content: flex-start;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 262px;
    
}
.footer-tablet{
    gap: 0;
}
.soc-contejner-logo{
    margin-right: 120px;
}
.social-text {
    width: 208px;
    display: flex;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.footer-soc-item {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.footer-soc-item :is(:hover, :focus) {
    background: #31D0AA;
    transition: transform 250ms linear;

}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-input{
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
}
.soc-contejner-logo {
    margin-bottom: 0
}
}

/* --------------------- mobile-menu-style --------------------- */


.menu-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 80px 40px 40px 38px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;

}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: auto;
}

.mobile-menu .link {
    display: flex;
    padding: 0;
    color: #2E2F42;
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    gap: 0 0 40px 0;
}

.menu-lisr:nth-child(2) {
    margin-bottom: 40px;
}
.menu-lisr:nth-child(1) {
    margin-bottom: 40px;
}

.menu-lisr{
    color: #2e2f42;
}
.mobile-address-item{
    margin-bottom: 40px;
}
.mobile-phone-list{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;
}
@media screen and (max-width: 420px) {
    .mobile-phone-list{
    font-weight: 600;
        font-size: 25px;
    }
    
}
.mobile-soc-list{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:420){
    .mobile-soc-list {
        display: flex;
        justify-content: flex-start;
        gap: 56px;
    }
}

.mobile-contacts{
    margin-bottom: 50px;
}
.mail-menu{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.btn-close-menu{
    width: 8px;
    height: 8px;
    fill: #2E2F42;
    

}
.menu-toggle-open{
    min-width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: #2e2f42;
}
.menu-toggle-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #E7E9FC;
}
.hamburger{
    width: 32px;
    height: 32px;
    fill: #2e2f42;
}
.menu-lisr .menu-item{
    color: #404BBF;
}